<footer class="py-5">
    <div class="row row-1">
      <div class="col-6 col-md-2 mb-3">
        <h5>Главная</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Главная</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Каталог</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">О Нас</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Контакты</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Новости</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Пресс-центр</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Главная</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Каталог</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">О Нас</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Контакты</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Новости</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Контакты</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Главная</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Каталог</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">О Нас</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Контакты</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Новости</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Подпишитесь на рассылку</h5>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <input id="newsletter1" type="text" class="form-control form-footer" placeholder="Email">
            <button class="btn btn-primary" type="button">Подписаться</button>
          </div>
        </form>
      </div>
    </div>

    <div class="flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2004 - 2023 Компания КИПАСО - оборудование КИП и А, промышленная автоматика, манометры Волгоград.</p>
    </div>
  </footer>
<!-- Report Modal -->
<div id="report-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-title"></div>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer"></div>
    </div>
  </div>    
</div>
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>