<div class="container">
    <div class="wrapper-menu">
      <nav>
        <ul class="wrapper-list">
            <li class="menu-list">
                <a class="link-menu" href="">Главная</a>
            </li>
            <li class="menu-list">
                <a class="link-menu" href="">Каталог &dtrif;</a>
                <ul class="dropdown-list">
                    <li class="dropdown-list__li">
                      <a href="#">Измерители-регуляторы</a>
                      <ul class="sub-dropdown-list">
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Измерители, измерители-регуляторы</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">ПИД-регуляторы</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Контроллеры отопления, вентиляции, горячего водоснабжения</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Таймеры, счетчики импульсов, тахометры</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Измерители параметров электрической сети</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Блоки управления, коммутации, защиты</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Дополнительное оборудование</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Комнатные термостаты</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown-list__li">
                        <a href="#">Датчики</a>
                      <ul class="sub-dropdown-list">
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Давление</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Температура</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Влажность</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Бесконтактные датчики</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Уровень</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Реле потока и протока</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Барьеры искрозащиты</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown-list__li">
                        <a href="#">Газовое и котельное оборудование</a>
                      <ul class="sub-dropdown-list">
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Газовые фильтры</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Регуляторы давления газа</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Предохранительно-сбросные клапаны</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Предохранительно-запорные клапаны</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Приборы контроля и розжига</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Газорегуляторные пункты (ГРПШ)</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Определение утечек</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown-list__li">
                        <a href="#">Манометры, термометры</a>
                      <ul class="sub-dropdown-list">
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Манометры технические</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Манометры электроконтактные</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Манометры точных измерений</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Коррозионностойкие и виброустойчивые манометры</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Сварочные манометры</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Манометры низкого давления (напоромеры)</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Термоманометры</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Термометры стеклянные</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Термометры биметаллические</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Термометры жидкостные</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Термогигрометры</a>
                        </li>
                        <li class="dropdown-list__li">
                            <a href="http://myshop.loc/izmeriteli-regulytory">Разделители сред</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown-list__li">
                        <a href="#">ПЛК и системы автоматизации</a>
                        <ul class="sub-dropdown-list">
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Моноблочные ПЛК</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Панельные ПЛК</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Модульные ПЛК</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Панели оператора</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Программируемые реле</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Модули ввода-вывода</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Модемы</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Преобразователи интерфейсов</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Архиваторы, безбумажные регистраторы</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Программное обеспечение</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Блоки питания</a>
                          </li>
                        </ul>
                    </li>
                    <li class="dropdown-list__li">
                        <a href="#">Загазованность</a>
                        <ul class="sub-dropdown-list">
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Сигнализаторы загазованности на метан (CH4)</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Сигнализаторы загазованности на угарный газ (CO)</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Газоанализаторы для режимной наладки</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Многоканальные сигнализаторы загазованности</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Дополнительное оборудование</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Промышленные газоанализаторы</a>
                          </li>
                        </ul>
                    </li>
                    <li class="dropdown-list__li">
                        <a href="#">Векторные преобразователи</a>
                        <ul class="sub-dropdown-list">
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Частотные преобразователи</a>
                          </li>
                        </ul>
                    </li>
                    <li class="dropdown-list__li">
                        <a href="#">Запорная арматура</a>
                        <ul class="sub-dropdown-list">
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Общепромышленные электромагнитные клапаны</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Регулирующие клапаны</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Смесительные клапаны</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Клапаны с пневмоприводом</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Газовые электромагнитные клапаны</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Электромагнитные катушки</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Регуляторы давления</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Электроприводы</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Системы регулирования</a>
                          </li>
                        </ul>
                    </li>
                    <li class="dropdown-list__li">
                        <a href="#">Лампы, кнопки и реле</a>
                        <ul class="sub-dropdown-list">
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Лампы сигнальные</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Кнопки, переключатели</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Реле промежуточные</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Реле твердотельные</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Изделия для электромонтажа</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Микроклимат шкафов управления</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Автоматические выключатели защиты двигателей</a>
                          </li>
                        </ul>
                    </li>
                    <li class="dropdown-list__li">
                        <a href="#">Счетчики воды, тепла и газа</a>
                        <ul class="sub-dropdown-list">
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Квартирные счетчики воды</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Крыльчатые счетчики воды</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Бытовые счетчики тепла</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Промышленные счетчики воды</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Промышленные счетчики тепла</a>
                          </li>
                        </ul>
                    </li>
                    <li class="dropdown-list__li">
                        <a href="#">Портативные приборы</a>
                        <ul class="sub-dropdown-list">
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Температура</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Газоанализаторы</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Шумомеры</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">pH-метры</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Дифманометры</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Пирометры</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Термогигрометры</a>
                          </li>
                        </ul>
                    </li>
                    <li class="dropdown-list__li">
                        <a href="#">Пневматическое оборудование</a>
                        <ul class="sub-dropdown-list">
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Вакуум</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Перемещение</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Соединение</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Управление</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Электроприводы</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Арматура трубопроводная</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Подготовка воздуха</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Приводы и проекты автоматизации</a>
                          </li>
                          <li class="dropdown-list__li">
                              <a href="http://myshop.loc/izmeriteli-regulytory">Готовые решения</a>
                          </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="menu-list">
              <a class="link-menu" href="">Пресс-Центр &dtrif;</a>
              <ul class="dropdown-list">
                <li class="dropdown-list__li">
                  <a href="http://myshop.loc/news-kipaso">Новости</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">Вакансии</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">Семинары</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">Партнеры</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">Конкурсы</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">О Компании</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">Прайс-листы</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">Оферта ПО</a>
                </li>
              </ul>
            </li> 
            </li>
            <li class="menu-list">
              <a class="link-menu" href="">Поверка и ремонт &dtrif;</a>
              <ul class="dropdown-list">
                <li class="dropdown-list__li">
                  <a href="#">Сервис-центр</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">СЦ ОВЕН</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">СЦ ВЕСПЕР</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">СЦ HYUNDAI</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">АСУТП</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">Поверка</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">Информация</a>
                </li>
              </ul>
            </li>
            <li class="menu-list">
              <a class="link-menu" href="">Контакты</a>
            </li>
          
        </ul>
      </nav>
    </div>
  </div>