<div class="container">
  <div class="wrapper-menu">
    <nav>
      <ul class="wrapper-list">
        <li class="menu-list">
          <a class="link-menu" href="">Главная</a>
          <a class="link-menu" href="">Каталог</a>
          <a class="link-menu" href="">Пресс-Центр</a>
          <a class="link-menu" href="">Поверка и ремонт</a>
          <a class="link-menu" href="">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</div>