<div class="container">
    <div class="wrapper-menu">
      <nav>
        <ul class="wrapper-list">
            <li class="menu-list">
                <a class="link-menu" href="">Главная</a>
            </li>
            <li class="menu-list">
                <a class="link-menu" href="">Каталог</a>
                <ul class="dropdown-list">
                    <li class="dropdown-list__li">
                      <a href="#">test1</a>
                    </li>
                    <li class="dropdown-list__li">
                        <a href="#">test1</a>
                    </li>
                    <li class="dropdown-list__li">
                        <a href="#">test2</a>
                    </li>
                </ul>
            </li>
            <li class="menu-list">
              <a class="link-menu" href="">Пресс-Центр</a>
              <ul class="dropdown-list">
                <li class="dropdown-list__li">
                  <a href="#">test1</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">test2</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">test3</a>
                </li>
            </li>
              </ul>
            </li>
            <li class="menu-list">
              <a class="link-menu" href="">Поверка и ремонт</a>
            </li>
            <li class="menu-list">
              <a class="link-menu" href="">Контакты</a>
            </li>
          
        </ul>
      </nav>
    </div>
  </div>