<div class="container">
    <div class="wrapper-menu">
      <nav>
        <ul class="wrapper-list">
            <li class="menu-list">
                <a class="link-menu" href="">Главная</a>
            </li>
            <li class="menu-list">
                <a class="link-menu" href="">Каталог</a>
                <ul class="dropdown-list">
                    <li class="dropdown-list__li">
                      <a href="#">Измерители-регуляторы</a>
                      <ul class="sub-dropdown-list">
                        <li>
                            <a href="http://myshop.loc/izmeriteli-regulytory">Измерители, измерители-регуляторы</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown-list__li">
                        <a href="#">Датчики</a>
                    </li>
                    <li class="dropdown-list__li">
                        <a href="#">Газовое и котельное оборудование</a>
                    </li>
                    <li class="dropdown-list__li">
                        <a href="#">Манометры, термометры</a>
                    </li>
                    <li class="dropdown-list__li">
                        <a href="#">ПЛК и системы автоматизации</a>
                    </li>
                </ul>
            </li>
            <li class="menu-list">
              <a class="link-menu" href="">Пресс-Центр</a>
              <ul class="dropdown-list">
                <li class="dropdown-list__li">
                  <a href="http://myshop.loc/news-kipaso">Новости</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">Вакансии</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">Семинары</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">Партнеры</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">Конкурсы</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">О Компании</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">Прайс-листы</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">Оферта ПО</a>
                </li>
              </ul>
            </li> 
            </li>
            <li class="menu-list">
              <a class="link-menu" href="">Поверка и ремонт</a>
              <ul class="dropdown-list">
                <li class="dropdown-list__li">
                  <a href="#">Сервис-центр</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">СЦ ОВЕН</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">СЦ ВЕСПЕР</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">СЦ HYUNDAI</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">АСУТП</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">Поверка</a>
                </li>
                <li class="dropdown-list__li">
                  <a href="#">Информация</a>
                </li>
              </ul>
            </li>
            <li class="menu-list">
              <a class="link-menu" href="">Контакты</a>
            </li>
          
        </ul>
      </nav>
    </div>
  </div>