<div id="search">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control" />
  <button type="button"><span class="pe-7s-search"></span></button>
</div>